body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

button, #submit {
  position: relative;
  padding: 5px;
  margin-bottom: 3rem;
  margin-top: 20px;
  width: 12rem;
  height: 3rem;
  border-radius: 5px;
  font-family: 'courier new', Garamond, Arial;
  font-weight: bold;
  font-size: 1.2rem;
}

button:hover, #submit:hover {
  background-color:lightgrey;
}

input {
  position: relative;
  padding: 5px;
  margin-bottom: 3rem;
  margin-top: 20px;
  height: 3rem;
  border-radius: 5px;
  font-family: 'courier new', Garamond, Arial;
  font-size: .8rem;
}

#message {
  width: 30%;
}
